.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.title-text {
  color: rgb(0, 0, 0);
  font-size: calc(0.75em + 2vmin);
}

.url-text {
  font-size: calc(0.75em + 1vmin);
}

.data-sources-text {
  font-size: calc(0.75em + 1.5vmin);
}

.doc-text {
  font-size: calc(0.75em + 0.8vmin);
}
