.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.title-text {
  color: rgb(0, 0, 0);
  font-size: calc(0.75em + 2vmin);
}

.data-text {
  text-align: left;
}
