.info-text {
  font-size: calc(0.7em + 1.20vmin);
}

.desc-text {
  font-size: calc(0.75em + 1vmin);
}

.deck-title-text {
  font-size: calc(0.8em + 1.2vmin);
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.slider-container {
  padding-bottom: 50px;
}

.info-bold {
  font-weight: bold;
}
