.info-text {
  font-size: calc(0.75em + 1.5vmin);
}

.desc-text {
  font-size: calc(0.75em + 1vmin);
}

.deck-title-text {
  font-size: calc(0.8em + 1.2vmin);
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 10px;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize
}
