.palo-image-1 {
  background: url("../../images/palo_1.jpg");
}
.palo-image-2 {
  background: url("../../images/palo_2.jpg");
}
.palo-image-3 {
  background: url("../../images/palo_3.jpg");
}

.rio-grande-image-1 {
  background: url("../../images/rio_grande_1.jpg");
}
.rio-grande-image-2 {
  background: url("../../images/rio_grande_2.jpg");
}
.rio-grande-image-3 {
  background: url("../../images/rio_grande_3.jpg");
}

.san-antonio-image-1 {
  background: url("../../images/san_antonio_1.jpg");
}
.san-antonio-image-2 {
  background: url("../../images/san_antonio_2.jpg");}
.san-antonio-image-3 {
  background: url("../../images/san_antonio_3.jpg");}

.nulo-image-1 {
  background: url("../../images/nulo.jpeg");
}
.nulo-image-2 {
  background: url("../../images/nulo_1.jpg");
}
.nulo-image-3 {
  background: url("../../images/nulo_2.jpg");
}

.sxsw-image-1{
  background: url("../../images/sxsw_puppy_party.jpeg");
}
.sxsw-image-2{
  background: url("../../images/sxsw_1.jpg");
}
.sxsw-image-3{
  background: url("../../images/sxsw_2.jpg");
}

.carousel-image {
  height: 300px;
  background-size: cover;
  background-position: center;
}