.pitbull-image-1 {
  background: url("https://images.dog.ceo/breeds/bulldog-french/n02108915_1866.jpg");
}
.pitbull-image-2 {
  background: url("https://images.dog.ceo/breeds/bulldog-french/n02108915_2681.jpg");
}
.pitbull-image-3 {
  background: url("https://images.dog.ceo/breeds/bullterrier-staffordshire/n02093256_2405.jpg");
}

.bulldog-image-1 {
  background: url("https://images.dog.ceo/breeds/bulldog-boston/n02096585_12372.jpg");
}
.bulldog-image-2 {
  background: url("https://images.dog.ceo/breeds/bulldog-french/n02108915_9899.jpg");
}
.bulldog-image-3 {
  background: url("https://images.dog.ceo/breeds/bulldog-french/n02108915_2326.jpg");
}

.chow-image-1 {
  background: url("https://images.dog.ceo/breeds/chow/n02112137_1251.jpg");
}
.chow-image-2 {
  background: url("https://images.dog.ceo/breeds/chow/n02112137_1976.jpg");
}
.chow-image-3 {
  background: url("https://images.dog.ceo/breeds/chow/n02112137_9159.jpg");
}

.carousel-image {
  height: 300px;
  background-size: cover;
  background-position: center;
}